<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.signupstage.mapper.SignInfoFormMapper">

    <select id="getFormList" resultType="com.cb.signupstage.dto.SignInfoFormDTO">
        select
	f.id,
	f.sort,
	  f.customize_id as customizeId,
	f.deleted,
c.`name`,
f.information,
c.field
from
	sign_info_form f
left join user_customize c on c.id = f.customize_id
where
	f.sign_info_id =#{id}
    </select>
</mapper>
