<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.signupstage.mapper.UserGroupEntityMapper">


	<select id="selectAllChildrensId" resultType="java.lang.Long">
		select id from (

              select t1.id,

              if(find_in_set(parent_id, @pids) > 0, @pids := concat(@pids, ',', id), 0) as ischild

              from (

                   select id,parent_id from user_group t where t.status = 1 order by parent_id, id

                  ) t1,

                  (select @pids := #{id}) t2

             ) t3 where ischild != 0;

	</select>
</mapper>
