<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.signupstage.mapper.UserInfoMapper">
  <!--条件查询-->
  <select id="selectBySelect" resultType="com.cb.signupstage.entity.UserInfo">
    select username,mobile,idcard
    from user_info
    <where> status = 1
      <if test="mobile != null and mobile != ''">
       and  mobile = #{mobile,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!--查询用户分页列表-->
  <select id="pageQuery" resultType="com.cb.signupstage.dto.UserInfoPageDTO">
    select
    info.id,
    info.userName,
    info.avatar,
    info.sex,
    info.mobile,
    info.idCard,
    info.deptId,
    info.deptName,
    info.positionName,
    g.group_name as groupName

    from user_info info
    LEFT JOIN user_group_bind gb on gb.user_id = info.id
    LEFT JOIN user_group g on g.id = gb.group_id

    where g.`status` = 1 and info.`status` = 1
    <if test="entity.name != null and entity.name != ''">
      and name = #{entity.name,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>