<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.signupstage.mapper.UserInfoMapper">
  <!--条件查询-->
  <select id="selectBySelect" resultType="com.cb.signupstage.entity.UserInfo">
    select username,mobile,idcard
    from user_info
    <where> status = 1
      <if test="mobile != null and mobile != ''">
       and  mobile = #{mobile,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!--查询用户分页列表-->
  <select id="pageQuery" resultType="com.cb.signupstage.dto.UserInfoPageDTO">
    select
    info.id,
    info.userName,
    info.avatar,
    info.sex,
    info.mobile,
    info.idCard,
    info.deptId,
    info.deptName,
    info.positionName,
    g.group_name as groupName

    from user_info info
    LEFT JOIN user_group_bind gb on gb.user_id = info.id
    LEFT JOIN user_group g on g.id = gb.group_id

    where g.`status` = 1 and info.`status` = 1
    <if test="entity.sex != null and entity.sex != ''">
      and info.sex = #{entity.sex}
    </if>
    <if test="entity.userName != null and entity.userName != ''">
      and info.userName like concat ('%',#{entity.userName},'%')
    </if>
    <if test="entity.mobile != null and entity.mobile != ''">
      and info.mobile like  concat (#{entity.mobile},'%')
    </if>
    <if test="entity.positionName != null and entity.positionName != ''">
      and info.positionName = #{entity.positionName}
    </if>
    <if test="entity.idCard != null and entity.idCard != ''">
      and info.idCard like    concat( #{entity.idCard} , '%')
    </if>
    <if test="entity.groupId != null and entity.groupId != ''">
      and g.id = #{entity.groupId}
    </if>
  </select>
  <select id="getById" resultType="com.cb.signupstage.dto.UserInfoPageDTO">
    select
    info.id,
    info.userName,
    info.avatar,
    info.sex,
    info.mobile,
    info.idCard,
    info.deptId,
    info.deptName,
    info.positionName,
    g.group_name as groupName

    from user_info info
    LEFT JOIN user_group_bind gb on gb.user_id = info.id
    LEFT JOIN user_group g on g.id = gb.group_id

    where g.`status` = 1 and info.`status` = 1 and info.id = #{id}
  </select>
</mapper>